input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #f0f0f0;
    --bg-color: #2b2b2b;
    --cell-bg-color: #3c3c3c;
    --highlight: #ff9500;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #0f0f0f;
    --bg-color: #f0f0f0;
    --cell-bg-color: #e0e0e0;
    --highlight: #ff9500;
  }
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

#playground {
  border-collapse: collapse;
  margin: auto;
  width: 600px;
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: width 0.5s ease;
}

@media screen and (max-width: 600px) {
  #playground {
    width: 90%;
  }  
}

#sudoku {
  border-collapse: collapse;
  margin: auto;
  width: 100%;
  aspect-ratio: 1/1;
  border: var(--text-color) 3px solid;
  border-radius: 5px;
  transition: width 0.5s ease, height 0.5s ease, transform 0.5s ease;
}

#sudoku td {
  text-align: center;
  transition: background-color 0.5s;
}

/* Cell hover col */
#sudoku td:hover {
  background-color: var(--highlight) !important;
  transition: background-color 0.5s;
}

.horizontal-center {
  display: flex;
  justify-content: center;
}

.cell {
  width: 100%;
  aspect-ratio: 1/1;
  box-sizing: border-box;
  padding: 5px;
  border: 0px solid transparent;
  text-align: center;
  font-size: larger;
  margin: 0;
  word-wrap: break-word;
  word-break: break-all;
  color: var(--text-color);
  background-color: transparent;
}

.row {
  padding: 0;
  margin: 0;
  border-bottom: var(--cell-bg-color) 2px solid;
}

.col {
  padding: 0;
  margin: 0;
  border-right: var(--cell-bg-color) 2px solid;
}

.row_2,
.row_5 {
  border-bottom: 3px solid var(--text-color);
}

.col_2,
.col_5 {
  border-right: 3px solid var(--text-color);
  padding: 2px;
}

#buttons {
  margin-top: 20px;
}

button {
  font-size: 24px;
  height: 50px;
  width: 150px;
  color: var(--text-color);
  background-color: var(--bg-color);
  border-radius: 7px;
}

button:hover {
  background-color: var(--highlight);
  transition: background-color 0.5s;
}

label {
  font-size: 24px;
  height: auto;
  width: 100%;
  text-align: center;
  border: 0px solid transparent;
  border-radius: 5px;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  transition: background-color 0.5s;
  color: var(--text-color);
  background-color: var(--bg-color);
}

#text {
  font-size: 24px;
  height: auto;
  width: 100%;
  text-align: center;
  border: 0px solid transparent;
  border-radius: 5px;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: background-color 0.5s;
}

.error {
    background-color: red !important;
}

.info {
    background-color: green !important;
}

.animated {
  transition: width 0.5s ease, height 0.5s ease, transform 0.5s ease;
}