#sudoku {
    border-collapse: collapse;
}

#sudoku td {
    border: 1px thin grey;
    text-align: center;
}

.cell {
    width: 70px;
    height: 70px;
    text-align: center;
    padding: 0;
    margin: 0;
    transition: background-color 0.5s;
    word-wrap: break-word;
    word-break: break-all;
}

/* Cell hover col */
.cell:hover {
    background-color: aqua;
    transition: background-color 0.5s;
}

.row {
    padding: 0;
    margin: 0;
}

.col {
    padding: 0;
    margin: 0;
}

.row_2 {
    border-bottom: 2px solid black;
}
.row_5 {
    border-bottom: 2px solid black;
}

.col_2 {
    border-right: 2px solid black;
}
.col_5 {
    border-right: 2px solid black;
}